<!DOCTYPE html>
<html>
<head>
  <title>Webs</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script> var current_user = <%= current_user ? current_user : "null"%> </script>
</head>
<body>

<header>
  <div class="logo">Webs</div>
  <div class="user">
</header>

<div id="main">
<%= yield %>
</div>

<footer>
Webs are a tradeable token of support for the open internet. We stamp them fresh, give them to the openest causes, and help you buy them
</footer>

</body>

<script type="text/template" id="home-template">
  This is the home page
  <div class="user_box"></div>
</script>

<script type="text/template" id="sign-up-template">
  <input name=email>
  <input name=password>
</script>

</html>
