<!DOCTYPE html>
<% tokenName = TOKEN_NAME %>
<html>
<head>
  <title><%=tokenName%></title>
  <script> window.masterWallet = "<%= StellarWallet::StellarAccount %>" </script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script> var user = <%= current_user ? current_user.to_json.html_safe : "null"%> </script>
  <script> var user = <%= current_user ? current_user.to_json.html_safe : "null"%> </script>
  <script> window.usernameMinimum = <%= User::UsernameMinimum %> </script>
  <script> var projects = new ProjectList(<%=Project.all.to_json.html_safe%>)</script>
</head>
<body>
  <header></header>
<div id="main">
<%= yield %>
</div>

<footer>
<%=tokenName%> are the true measure of the open internet.
</footer>

</body>

<script type="text/template" id="header-template">
  <div class="home"><a><%=tokenName%></a></div>
  <div class="projects"><a>Projects</a></div>
  <div class="book"><a>Book</a></div>
  <div class="history"><a>History</a></div>
  <div class="faq"><a>FAQ</a></div>
  <%% if (typeof(email) != "undefined") { %>
    <%% if (typeof(stellar_id) != "undefined") { %>
      <div class="user">
        <p><label>email</label><a class="data user" href="/users/<%%= username ? username: stellar_id%>"><%%=email%></a></p>
        <p><label><%=tokenName%> total</label><span class="data"><%%= webs_balance %></span></p>
      </div>
    <%%} %>
    <div class="logout-button"><span>Log out</span></div>
  <%%} %>
</script>

<script type="text/template" id="projects-template">
  <div class="project-list"></div>
</script>

<script type="text/template" id="stripe-template">
  <div class="input"><label>card number</label><input class="card_num"/><span class="grumpy luhn">Luhn check failure</span></div>
  <div class="input"><label>card cvc</label><input class="card_cvc"/><span class="grumpy cvc">three numbers, pls</span></div>
  <div class="input"><label>card expiration month</label><input class="card_exp month"/><span class="grumpy exp">in, like, the future</span></div>
  <div class="input"><label>card expiration year</label><input class="card_exp year"/><span class="grumpy exp">four numbers, pls</span></div>
  <button class="submit-card">Pay with this card</button>
  <div class="stripe-error grumpy"></div>
</script>

<script type="text/template" id="charge-template">
  <h2>Charge</h2>
  <form name="charge" action="/cards/charge.json" method="POST">
    <label>US Dollars</label><input name=quantity>
    <button type="submit">Donate!</button>
  </form>
  <div class=charge-message></div>
</script>

<script type="text/template" id="charge-message-template">
  <p>You have donated <%%=currency%> USD and received <%%=token%> <%=tokenName%>.</p>
  <p>Now you can vote for projects!</p>
  <div class="change-support"><span class="grumpy">Loading your ballot</span></div>
</script>

<script type="text/template" id="faq-template">
  <h3>What are <%=tokenName%>?</h3>
  <p><%=tokenName%> are tokens of commitment to the open internet.
  They are a fantastically cute social currency for the community
  of people that want to keep the internet awesome.</p>
  <h3>How do I get them?</h3>
  <p>You receive <%=tokenName%> by making donations to open internet
  organizations and projects, such as Fight For the Future,
  Freedom of the Press Foundation, and more to come.
  You will soon be able to get them by contributing on our site.</p>
  <h3>What can I do with <%=tokenName%>?</h3>
  <p>You can send them to friends or organizations,
  you can vote for what projects will receive new <%= tokenName %>,
  and soon you'll be able to redeem them for open internet swag.
  They have no cash value, beacuse <%=tokenName %>.</p>
  <h3>How does voting work?</h3>
  <p>When you receive <%=tokenName%>,
  you pick an open internet project or organization to vote for.
  Every time we create new <%=tokenName%>, these votes decide
  which groups or projects receive them.
  Voting is proportional to the number of <%=tokenName%> you parent.</p>

</script>


<script type="text/template" id="buy-template">
  <h2>Donate to the Pool</h2>
  <div class="stripe"><button class="stripe">Use a credit card</button></div>
  <button class="btc">Show BTC donation address</button>
</script>

<script type="text/template" id="stats-template">
  <label>USD donated</label><span class="data"><%%= total_usd / ScalingFactors["USD"]%></span>
  <label>BTC donated</label><span class="data"><%%= total_btc / ScalingFactors["BTC"]%></span>
  <%% if (typeof(issued_tokens) != "undefined") %>
  <label><%=tokenName%> issued</label><span class="data"><%%= issued_tokens %></span>
</script>

<script type="text/template" id="home-template">
  <div class="welcome" style="display:none">
    <h1>Join the <%=tokenName%> community!</h1>
    <p class="blahblah">
      <%=tokenName%> are a token of commitment to an open internet.
      People receive them by donating to projects and groups supporting an open web.
      Sign up and donate to get some!
      <a class="action causes">What causes, you ask?</a>
    </p>
    <div class="projects"></div>
  </div>
  <div class="stats"><span class="grumpy">Loading donation stats</span></div>
  <div class="user-box"></div>
  <div class='pricing' style="display:none">
    <h3>Reward Levels</h3>
    <div class="mini-book-btc"><span class="grumpy">Loading Bitcoin reward info</span></div>
    <div class="mini-book-usd"><span class="grumpy">Loading US Dollar reward info</span></div>
    <div class="support" style="display:none"><span class="grumpy">Loading your support info</span></div>
    <div class="book"></div>
  </div>
  <div class="email-send"></div>
</script>

<script type="text/template" id="history-template">
  <div class="payments"></div>
  <div class="gifts"></div>
  <div class="transactions"></div>
</script>

<script type="text/template" id="mini-book-template">
  <p><label>current <%%=currency%> reward rate</label><span class="data"><%%= (TakerGets.value / TakerPays.value) * scalingFactor %> <%=tokenName%> per <%%=currency%>.</span></p>
</script>

<script type="text/template" id="books-template">
  <h2>Available <%=tokenName%></h2>
  <div class="btc-book"></div>
  <div class="usd-book"></div>
</script>
<script type="text/template" id="book-template">
  <ul class="book-items">
    <li>
    <div class='currency'>  <%%=currency%> available </div>
      <div class='price'> Price </div>
      <div class='qty'>   <%=tokenName%> </div>
      <div class='project'>Project</div>
    </li>
  </ul>
</script>

<script type="text/template" id="book-item-template">
  <div class='currency'>  <%%= +TakerPays.value / scalingFactor %></div>
  <div class='price'>  <%%= +TakerPays.value / +TakerGets.value / scalingFactor%></div>
  <div class='qty'>    <%%= TakerGets.value %></div>
  <div class='project'><%%= projects.by_address(Account).get("name") %></div>
</script>

<script type="text/template" id="sign-up-template">
  <h2>Sign up now!</h2>
  <form name="sign_up" action="/users.json" method="POST">
    <div class="form-group">
    <label>Email</label>
    <input name=email>
    <div class="error">
  </div>
    <div class="form-group">
    <label>password</label>
    <input name=password type=password>
    <div class="error">
  </div>
    <div class="form-group">
    <button type=submit>Join!</button>
  </div>
  </form>
  <a class="subtle login">I already have an account!</a>
</script>

<script type="text/template" id="totals-template">
  <label><%=tokenName%> given out</label><span class="data"><%%=tokens_distributed%></span>
  <label>US Dollars received</label><span class="data"><%%=usd_received%></span>
  <label>Bitcoin received</label><span class="data"><%%=btc_received%></span>
</script>

<script type="text/template" id="my-profile-template">
  <h3>This is your profile</h3>
</script>

<script type="text/template" id="other-profile-template">
  <p>Give some <%=tokenName%>?</p>
  <form action="/gifts.json" method="POST">
    <input type="hidden" name="stellar_id" value="<%%=stellar_id%>"/>
    <div class="error"> </div>
    <label>How many?</label><input name="value"/>
    <button type="submit">Give!</button>
  </form>
</script>

<script type="text/template" id="profile-page-template">
  <div class="profile"><h2>Loading profile</h2></div>
</script>

<script type="text/template" id="project-template">
  <%% if (typeof(created_at) !== "undefined") {%>
    <p><a href="<%%=url%>" target="_blank"><%%=name%></a></p>
    <p><%%=short_description%></p>
    <div class="totals"><span class="grumpy">Loading project donation totals</span></div>
    <p><img src="<%%=logo_url%>" class="project-logo"</img></p>
    <p><%%=long_description%></p>
  <%% } else { %>
    <div class="project"><h2>Loading project</h2></div>
  <%% } %>
</script>

<script type="text/template" id="profile-template">
  <h2>PROFILE</h2>
  <div class="me"></div>
  <div class=username></div>
  <%% if (typeof(webs_balance) !== "undefined" ) { %>
      <p><label>Total <%= tokenName %></label><span class="data"><%%=webs_balance%></span></p>
      <p><label>Currently Supporting</label><span class="data"><%%=supporting%></span></p>
  <%% } else {%>
    LOADING
  <%% } %>
</script>

<script type="text/template" id="username-sorry-template">
  <p>
  Ooh, did you know that once you have <span class=data><%%=usernameMinimum%></span>
  <%=tokenName%> you can pick a username?
  <p>
</script>


<script type="text/template" id="username-display-template">
  <label>username</label><span class=data><%%= username %></span>
</script>

<script type="text/template" id="username-create-template">
  You have no username yet. Let's make one!
  <form name="username" action="/users/username.json" method="POST">
    <div class="form-group">
    <label>Username</label>
    <input name=username>
    <div class="error">
  </div>
  <div class="form-group">
    <button type=submit>Claim</button>
  </div>
  </form>
</script>

<script type="text/template" id="confirm-template">
  <h2>We sent you a confirmation email</h2>
</script>

<script type="text/template" id="email-send-template">
  <h3>Give <%=tokenName%></h3>
  <form action="/gifts.json" method="POST">
    <div class="form-group">
      <label>Email</label>
      <input name=email>
      <div class="error">
      </div>
    </div>
    <div class="form-group">
      <label>Quantity</label>
      <input name=value>
      <div class="error"> </div>
    </div>
    <div class="form-group">
      <button type=submit>Give <%=tokenName%></button>
    </div>
  </div>
  </form>
  <div class="message"></div>
</script>

<script type="text/template" id="login-template">
  <h2>Log in now</h2>
  <form name="login" action="/sessions.json" method="POST">
    <div class="form-group">
    <label>Email</label>
    <input name=email>
    <div class="error">
  </div>
    <div class="form-group">
    <label>password</label>
    <input name=password type=password>
    <div class="error">
  </div>
    <div class="form-group">
    <button type=submit>Log in</button>
  </div>
  <a class="subtle signup" style="display: none;">Hmm, I guess I'll sign up after all</a>
  </form>
</script>

<script type="text/template" id="transaction-item-template">
  Received <%%= webs_qty %> <%=tokenName%> from <%%= payment_qty / 100 %> <%%= payment_currency %> donation to
  <%%= project_name %>
</script>

<script type="text/template" id="transactions-template">
  <h2>Your Donations</h2>
  <ul></ul>
  <div class="empty">Make a donation to receive <%= tokenName %></div>
</script>

<script type="text/template" id="gift-item-template">
  <%%= value %> <%=tokenName%> from <%%= sender_email %> at <%%= created_at %>
</script>

<script type="text/template" id="gifts-template">
  <h2>Your Gifts</h2>
  <ul></ul>
  <div class="empty">No one has give you <%=tokenName%>. Do something awesome for the Internet!</div>
</script>
<script type="text/template" id="payments-template">
  <h2>Your Payments</h2>
  <ul class="payment-list"></ul>
  <div class="empty" style="display:none">
    We haven't received your any BTC payments from you.
  </div>
</script>


<script type="text/template" id="payment-item-template">
  <time title=<%%=created_at%>><%%=created_at%></time>
  <div class="value"><%%=value %> Satoshis</div>
  <div class="from"><%%=input_address %></div>
  <div class="hash"><%%=input_transaction_hash %></div>
</script>

<script type="text/template" id="project-item-template">
  <td class="logo"><a href="/projects/<%%=id%>"><img class="logo" src="<%%=logo_url%>"/></a></td>
  <td><a href="/projects/<%%=id%>"><%%=name%></a></td>
  <td><%%=short_description%></td>
</script>

<script type="text/template" id="project-list-template">
  <h2>Projects</h2>
  <table class="project-list">
    <thead>
      <td class="logo"></td>
      <td class="name">Name</td>
      <td class="short-description">Short Description</td>
    </thead>
    <tbody></tbody>
  </table>
</script>

<script type="text/template" id="support-template">
  <h2>Supporting Projecs</h2>
  <p>Your <%=tokenName%> are supporting <span class="data"><%%= supporting %></span></p>

  <h3>Changing Support</h3>
  <p>You can <span class="action">change who you are supporting</span> in the next vote</p>
  <div class="change-support"><span class="grumpy">Loading Support Datas</span></div>
</script>

<script type="text/template" id="change-support-template">
  <form name="change-support" action="/users/support.json" method="PUT">
    <select name="project_id">
    </select>
    <button type=submit>Choose</button>
</form>
</script>

<script type="text/template" id="logout-button-template">
  <form name="log_out" action="/sessions.json" method="DELETE">
    <div class="form-group">
      <button type=submit>Log out</button>
    </div>
  </form>
</script>

</html>
